@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Share+Tech+Mono&family=Source+Code+Pro&display=swap);

:root {
    --color-terminal:#292b36;
    --borde-redondo: 4px;
}

* {
    font-family: 'Source Code Pro ' , monospace;
}

